:root {
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-color: #757575;
  --second-color: #2196f3;
  --header-border-color: #ececec;
  --hero-section-color: #c4c4c4;
  --hero-and-modal-buttons-h-f-color: #188ce8;
  --feature-team-portfolio-btn-bgc: #f5f4fa;
  --works-text-bgc: rgba(47, 48, 58, 0.8);
  --team-and-clients-fill: #afb1b8;
  --footer-list-icon-bgc: rgba(255, 255, 255, 0.1);
  --mail-form-in-footer-border-color: rgba(255, 255, 255, 0.3);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --modal-close-button-icon-fill: #000000;
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-text-color: rgba(117, 117, 117, 0.5);
  --h-color: #212121;
  --hero-and-city-word-color: #ffffff;
  --footer-contact-link-color: #ffffff99;
  --footer-bg-color: #2f303a;
  --portfolio-border-line: 1px solid #eeeeee;
  --anim-transition-duration: 250ms;
  --anim-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}