.link {
  text-decoration: none;
  color: var(--h-color);
}

.heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.active-open-link {
  color: var(--second-color);
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--second-color);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.heading-hidden,
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}