.portfolio-list-item-textbox {
  border-bottom: var(--portfolio-border-line);
  border-left: var(--portfolio-border-line);
  border-right: var(--portfolio-border-line);
  padding: 20px 24px;

  .portfolio-heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h-color);
    margin-bottom: 4px;
  }

  .portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
}